<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Vue JS -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.css" integrity="sha512-r0fo0kMK8myZfuKWk9b6yY8azUnHCPhgNz/uWDl2rtMdWJlk7gmd9socvGZdZzICwAkMgfTkVrplDahQ07Gi0A==" crossorigin="anonymous"/>

  <!-- CSS -->
  <link rel="stylesheet" href="css/style.css">

  <title>Document</title>
</head>
<body>
  <div id="app">
    <div class="container">
      <div class="slider d-flex">
        <div class="main_wrapper">
          <!-- Cicliamo in un solo tag img l'array Games con la direttiva di Vue -->
          <img
          v-for="(game, index) in games"
          :class="{'show': index === count}"
          :src="game.image">
          
        </div>
        <div class="thumb_wrapper">
          <!-- Cicliamo anche qui per inserire le thumb nel thumb_wrapper -->
          <img
          v-for="(game, index) in games"
          :class="{'active': index === count}"
          :src="game.image"
          >
        </div>

        <div class="buttons">
          <div class="btn_arrow up">
            <i class="fa-solid fa-chevron-up"></i>
          </div>
          <div class="btn_arrow down">
            <i class="fa-solid fa-chevron-down"></i>
          </div>
        </div>  
            
      </div>

    </div>

  </div>
  <script src="js/script.js"></script>
</body>
</html>