<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Vue JS -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.css" integrity="sha512-r0fo0kMK8myZfuKWk9b6yY8azUnHCPhgNz/uWDl2rtMdWJlk7gmd9socvGZdZzICwAkMgfTkVrplDahQ07Gi0A==" crossorigin="anonymous"/>

  <!-- CSS -->
  <link rel="stylesheet" href="css/style.css">

  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.css" integrity="sha512-KOWhIs2d8WrPgR4lTaFgxI35LLOp5PRki/DxQvb7mlP29YZ5iJ5v8tiLWF7JLk5nDBlgPP1gHzw96cZ77oD7zQ==" crossorigin="anonymous"/>

  <title>Document</title>
</head>
<body>
  <div id="app">
    <div class="container">
      <div class="slider d-flex">
        <div class="main_wrapper">
          <!-- Cicliamo in un solo tag img l'array Games con la direttiva di Vue -->
          <img
          v-for="(game, index) in games"
          :class="{'show': index === count}"
          :src="game.image">
          
        </div>
        <div class="thumb_wrapper">
          <!-- Cicliamo anche qui per inserire le thumb nel thumb_wrapper -->
          <img
          v-for="(game, index) in games"
          :class="{'active': index === count}"
          :src="game.image"
          >
        </div>

          <!-- Con @click creiamo l'eventListener nei bottoni -->
        <div class="buttons">
          <div @click="nextPrev(false)" class="btn_arrow up">
            <i class="fa-solid fa-chevron-up"></i>
          </div>
          <div @click="nextPrev(true)" class="btn_arrow down">
            <i class="fa-solid fa-chevron-down"></i>
          </div>
        </div>
        
        <!-- Inseriamo un bottone che inverta il senso dello slider automatico -->
        <button class="reverse">
          <i class="fa-solid fa-up-long"></i>
          <i class="fa-solid fa-down-long"></i>
        </button>


      </div>

    </div>

  </div>
  <script src="js/script.js"></script>
</body>
</html>